/*/!*[@id="root"]/div/div/header/div/div/div/div[1]/a*/
#root .landing-header .menu .link {
	/*Reset the ui padding to enable larger touch targets for UX */
	padding: 0;
}

#root .landing-header .menu a {
	padding: 2.2rem 1.8rem;
	width: 100%;
	display: inline-block;
}

#root .ui.menu {
	box-shadow: none;
	border: none;
}

.SkeletonLoader .icon {
	margin: 100px auto 0;
	display: block;
}

.edit {
	padding: 3px;
	border: 1px solid #dddddd;
	display: inline-block;
	margin: 3px;
	border-radius: 2px;
	transition: background-color .2s ease;
}

.edit:hover {
	background-color: #dddddd;
}

.edit:active {
	background-color: lightslategray;
}

.JsonEditor .ObjectRow:nth-child(2) .ArrayItem {
	flex-flow: column;
	display: flex !important;
}

.JsonEditor .add-button {
	/*Better UX by hand-crafting a create component, edit is fine. */
	display: none !important;
}

.JsonEditor .delete-button {
	display: none !important;
}

.ui.button.ambassador {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	background: #feec35;
	background: -moz-linear-gradient(top, #feec35 10%, #f37c30 41%, #ec423d 71%);
	background: -webkit-linear-gradient(top, #feec35 10%, #f37c30 41%, #ec423d 71%);
	background: linear-gradient(to bottom, #feec35 10%, #f37c30 41%, #ec423d 71%);
}

.row .column .card {
	/*Visually align vertically with the charts*/
	margin-top: 60px;
}