/*/!*[@id="root"]/div/div/header/div/div/div/div[1]/a*/
#root .landing-header .menu .link {
	/*Reset the ui padding to enable larger touch targets for UX */
	padding: 0;
}
#root .landing-header .menu a {
	padding: 2.2rem 1.8rem;
	width: 100%;
	display: inline-block;
}

#root .ui.menu {
	box-shadow: none;
	border: none;
}

.SkeletonLoader .icon {
	margin: 100px auto 0;
	display: block;
}
.edit {
	padding: 3px;
	border: 1px solid #dddddd;
	display: inline-block;
	margin: 3px;
	border-radius: 2px;
	transition: background-color .2s ease;
}
.edit:hover {
	background-color: #dddddd;
}
.edit:active {
	background-color: lightslategray;
}

.JsonEditor .ObjectRow:nth-child(2) .ArrayItem {
	flex-flow: column;
	display: flex !important;
}

.JsonEditor .add-button {
	/*Better UX by hand-crafting a create component, edit is fine. */
	display: none !important;
}

.JsonEditor > div > div:nth-child(2) > div.ArrayItem > div:nth-child(1) > div > div:nth-child(9) > div.StringItem > .delete-button {
	display: none !important;
}